.fa-mobile-screen-button{
    color: rgb(168, 76, 184);
}
.item4{
    border-bottom: 2px solid rgb(168, 76, 184);
}
span{
    margin-bottom: 15px;
    color: rgb(153, 153, 153);
    font-weight: 500;
    font-size: 10px;
    line-height: 18px;
}
h2{
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
}
.p1{
    font-size: 15px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.7);
}
i{
    font-size: 30px;
    margin-bottom: 20px;
}
.title{
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin-bottom: 20px;
}
