
    <div class="w-75 vh-100 mx-auto d-flex justify-content-center flex-column">
        <span>ABOUT US</span>
        <h2>WHO AM I?</h2>
        <p class="p1"><b>Hi Im Jackson Ford </b> On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word (and) and the Little Blind Text should turn around and return to its own, safe country.
            <br><br>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar
        </p>

        <div class="row">
            <div class="col-md-3 p-2">
                <div class="border-bottom border-primary border-2 shadow-lg p-4">
                    <i class="fa-solid fa-lightbulb text-primary"></i>
                    <p>Graphic Design</p>
                </div>
            </div>
            <div class="col-md-3 p-2">
                <div class="border-bottom border-danger border-2 shadow-lg p-4">
                    <i class="fa-solid fa-earth-americas text-danger"></i>
                    <p>Web Design</p>
                </div>
            </div>
            <div class="col-md-3 p-2">
                <div class="border-bottom border-warning border-2 shadow-lg p-4">
                    <i class="fa-solid fa-database text-warning"></i>
                    <p>Software</p>
                </div> 
            </div>
            <div class="col-md-3 p-2">
                <div class="item4 shadow-lg p-4">
                    <i class="fa-solid fa-mobile-screen-button"></i>
                    <p>Application</p>
                </div> 
            </div>
            
        </div>   
    </div>




