<!-- <div class="p-5 text-center sidebarBg position-fixed">
    <div class="sidebarImg"></div>
    <h2 class="m-1">Jackson Ford</h2>
    <p class="pb-3"><a class="text-decoration-none" href="#">UI/UX/Designer</a> in Philippines</p>
    <ul class="list-unstyled">
        <li class="p-2"><a class="text-decoration-none text-dark" routerLinkActive="text-primary" routerLink="/home">Home</a></li>
        <li class="p-2"><a class="text-decoration-none text-dark" routerLinkActive="text-primary" routerLink="/about">About</a></li>
        <li class="p-2"><a class="text-decoration-none text-dark" routerLinkActive="text-primary" routerLink="/skills">Skils</a></li>
        <li class="p-2"><a class="text-decoration-none text-dark" routerLinkActive="text-primary" routerLink="/experience">Experience</a></li>
        <li class="p-2"><a class="text-decoration-none text-dark" routerLinkActive="text-primary" routerLink="/work">Work</a></li>
    </ul>
</div> -->


<nav class="navbar text-white d-md-none">
    <div class="container-fluid">
      <button class="btn btn-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
        ☰ 
      </button>
    </div>
</nav>
  
  <div class="offcanvas offcanvas-start d-md-none text-center p-3" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
        
        <div class="sidebarImg"></div>
        <h2 class="m-1">Jackson Ford</h2>
        <p class="pb-3"><a class="text-decoration-none" href="#">UI/UX/Designer</a> in Philippines</p>
        <ul class="list-unstyled">
            <li class="p-2"><a class="text-decoration-none text-dark" routerLinkActive="text-primary" routerLink="/home">Home</a></li>
            <li class="p-2"><a class="text-decoration-none text-dark" routerLinkActive="text-primary" routerLink="/about">About</a></li>
            <li class="p-2"><a class="text-decoration-none text-dark" routerLinkActive="text-primary" routerLink="/skills">Skils</a></li>
            <li class="p-2"><a class="text-decoration-none text-dark" routerLinkActive="text-primary" routerLink="/experience">Experience</a></li>
            <li class="p-2"><a class="text-decoration-none text-dark" routerLinkActive="text-primary" routerLink="/work">Work</a></li>
        </ul>
  </div>
 
  <div class="d-none d-md-block sidebarBg p-3 text-center position-fixed" style="width: 250px; height: 100vh; left: 0;">
    <div class="sidebarImg"></div>
    <h2 class="m-1">Jackson Ford</h2>
    <p class="pb-3"><a class="text-decoration-none" href="#">UI/UX/Designer</a> in Philippines</p>
    
    <ul class="list-unstyled">
        <li class="p-2"><a class="text-decoration-none text-dark" routerLinkActive="text-primary" routerLink="/home">Home</a></li>
        <li class="p-2"><a class="text-decoration-none text-dark" routerLinkActive="text-primary" routerLink="/about">About</a></li>
        <li class="p-2"><a class="text-decoration-none text-dark" routerLinkActive="text-primary" routerLink="/skills">Skils</a></li>
        <li class="p-2"><a class="text-decoration-none text-dark" routerLinkActive="text-primary" routerLink="/experience">Experience</a></li>
        <li class="p-2"><a class="text-decoration-none text-dark" routerLinkActive="text-primary" routerLink="/work">Work</a></li>
    </ul>
  </div>

  