<!-- <div class="w-75 vh-100 mx-auto d-flex justify-content-center flex-column my-5">
    <span class="">EXPERIENCE</span>
    <h2 class="">WORK EXPERIENCE</h2>
    <div class="before">
        <div class="row mb-4">
            <div class="mb-4 col-1 align-content-center icon mt-3 mx-3 text-center"><i class="fa-solid fa-pencil mx-auto"></i></div>
            <div class="iteem p-4 col-11">
                <h3 class="mb-4">Full Stack Developer <span class="opacity-50 fs-6">2017-2018</span></h3>
                <p class="fs-5 text-body">Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.</p>
            </div>
        </div>///////////////////////////////
        <div class="row mb-4">
            <div class="mb-4 col-1 align-content-center icon mt-3 mx-3 bg-danger text-center"><i class="fa-solid fa-pencil mx-auto"></i></div>
            <div class="iteem p-4 col-11">
                <h3 class="mb-4">Front End Developer at Google Company <span class="opacity-50 fs-6">2017-2018</span></h3>
                <p class="fs-5 text-body">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar</p>
            </div>\\\\\\\\\\\\\\\\
        </div>
        <div class="row">
            <div class="mb-4 col-1 align-content-center icon mt-3 mx-3 text-center bg-warning"><i class="fa-solid fa-pencil mx-auto"></i></div>
            <div class="iteem p-4 col-11">
                <h3 class="mb-4">System Analyst <span class="opacity-50 fs-6">2017-2018</span></h3>
                <p class="fs-5 text-body">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
            </div>
        </div>
    </div>
</div> -->


<div class="w-75 vh-100 mx-auto my-5">
  <div>
      <span class="">EXPERIENCE</span>
      <h2 class="">WORK EXPERIENCE</h2>
  </div>
  <div class="timeline">

    <div class="timeline-item">
      <div class="timeline-icon blue">
        <i class="fas fa-pen"></i>
      </div>
      <div class="timeline-content">
        <h3>Full Stack Developer <span>2017-2018</span></h3>
        <p class="fs-5 text-body">Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.</p>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-icon red">
        <i class="fas fa-pen"></i>
      </div>
      <div class="timeline-content">
        <h3>Front End Developer at Google Company <span>2017-2018</span></h3>
        <p class="fs-5 text-body">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar</p>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-icon yellow">
        <i class="fas fa-pen"></i>
      </div>
      <div class="timeline-content">
        <h3>System Analyst <span>2017-2018</span></h3>
        <p class="fs-5 text-body">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-icon empty">
      </div>
    </div>

  </div>
</div>
